.regdiv{
    margin-top: 80px;
}

.register{
    color: black;
    cursor: pointer;
}

.signUp{
   font-weight: bolder;

}


.form-control{
    margin: 35px 0;
}

.btn{
    margin: 25px 0;

}

.toggle{
    position: absolute;
    left: 90%;
    bottom: 47.5%;
}





@media (max-width:510px){
    .toggle{
        left: 87%;        
        bottom: 47.5%;
    }
    
}

@media (max-width:410px) {
    .toggle{
        left: 85%;        
        bottom: 50.5%;
    }
    
}

