.container-fluid{
    margin-top: 85px;
}

.team{
    background-image: linear-gradient(to bottom right, rgba(8, 8, 8, 0.664), rgba(24, 22, 22, 0.857)) ,url('../Pictures/teams1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.card-img-top{
    border-radius: 1000px;
    padding: 10px 10px 0 10px;

}

.Social-links a{
    display: inline-block;
    margin: 8px 3px;
    color: gray;
}